<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="author" content="Mustafa Celik">
</head>
<body>
<h1>Sözlüğe erişebilmek için lütfen kullanıcı adınızı ve şifrenizi giriniz.</h1>

<form action="/datas" method="post" target="_blank">
  <label for="kullanici_adi">Kullanıcı adı: </label><br>
  <input type="text" id="kullanici_adi" name="kullanici_adi"><br><br>
  <label for="sifre">Şifre: </label><br>
  <input type="text" id="sifre" name="sifre"><br><br>
  <input type="submit" value="Submit">
</form>

</body>
</html>